{% extends "__layout.twig" %} {% block content %}
<div
  style="
    width: 100vw;
    height: 0px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 20px;
  "
></div>
<div class="container">
  <span style="white-space: pre-line; text-align: center; color: white">
    О КОМПАНИИ ООО "УК "УШАКОВСКАЯ"
  </span>
</div>
{% include('footer.twig') %} {% endblock %}
