{% extends "__layout.twig" %} {% block content %}
<div
  class="container text-center justify-content-center align-items-center"
  style="margin-left: 7%; width: fit-content"
>
  <div class="block">
    <h4 style="color: white">Основное меню</h4>
    <div class="d-flex flex-row text-center justify-content-center">
      <a class="btn-new btn-info m-2" href="/submit"
        >Подать показания счётчиков</a
      >
    </div>
    <div class="d-flex flex-row text-center justify-content-center">
      <a class="btn-new m-2" href="/account/edit">Редактировать свои данные</a>
      <a class="btn-new btn-info m-2" href="/account/password"
        >Изменить пароль</a
      >
    </div>
    <h4 style="color: white">Дополнительно</h4>
    <div class="d-flex flex-row text-center justify-content-center">
      <a class="btn-new btn-info m-2" href="/history">История показаний</a>
      <a class="btn-new btn-info m-2" href="/ask">Задать вопрос</a>
    </div>
  </div>
</div>

<style>
  .block {
    display: flex;
    flex-direction: column;
    outline: 1px rgba(255, 255, 255, 0.5);
    width: 80vw;
    height: fit-content;
  }
</style>
{% include('footer.twig') %} {% endblock %}
