{% extends "__layout.twig" %} {% block content %}
<div style="width:100vw; height: 0px; outline: 1px solid rgba(255, 255, 255, 0.5); margin-top: 20px"></div>
<div class="container">
<span style="white-space: pre-line; text-align: center; color: white">
  ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ

  Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую ООО «УК «Ушаковская» может получить о Пользователе во время использования сайта группы компаний «УК «Ушаковская» или иных программ и продуктов интернет-ресурса.

  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ

  1.1. В настоящей Политике конфиденциальности используются следующие термины:

  1.1.1. «Администрация сайта Интернет-ресурса (далее – Администрация сайта)» – уполномоченные сотрудники на управления сайтом группы компании ООО «УК «Ушаковская», действующие от имени ООО «УК «Ушаковская», которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.

  1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).

  1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.

  1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.

  1.1.5. «Пользователь сайта Интернет-ресурса (далее - Пользователь)» – лицо, имеющее доступ к сайту , посредством сети интернет и использующее Сайт ООО «УК «Ушаковская».

  1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.

  1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.

  2. ОБЩИЕ ПОЛОЖЕНИЯ

  2.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.

  2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.

  2.3. Настоящая Политика конфиденциальности применяется к сайту

  2.4. Администрация заведения не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.

  3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ

  3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта.

  3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте и включают в себя следующую информацию:

  3.2.1. фамилию, имя, отчество Пользователя;

  3.2.2. контактный телефон Пользователя;

  3.2.3. адрес электронной почты (e-mail);

  3.2.4. адрес проживания Пользователя;

  3.2.5. номер лицевого счёта Пользователя;
</span>
</div>
{% include('footer.twig') %}
{% endblock %}
